torch
torchvision
matplotlib
tqdm
pandas==2.3.3
numpy==1.26.4
mmengine==0.10.7
mmcv-lite==2.2.0
mmpretrain==1.2.0
notebook
tensorboard
loguru
pytorchcv
opencv-python==4.11.0.86
scikit-learn
torcheval
ftfy
regex
openai>=1.75.0
git+https://github.com/openai/CLIP.git
