torch
torchvision
matplotlib
tqdm
pandas
mmengine==0.10.7
mmcv==2.2.0
mmpretrain==1.2.0
notebook
tensorboard
loguru
pytorchcv
opencv-python
scikit-learn
torcheval
ftfy
regex
https://github.com/openai/CLIP/archive/refs/heads/main.zip
